UPDATE mdl_course SET category = (SELECT id FROM mdl_course_categories WHERE name = 'Degree') WHERE idnumber = 'SCL-BSC-HONS-BUSINESS-MANAGEMENT-OFFERED-WITH-FOU';
UPDATE mdl_course SET category = (SELECT id FROM mdl_course_categories WHERE name = 'HND') WHERE idnumber = 'SCL-BTEC-HIGHER-NATIONAL-CERTIFICATE-1-YEAR';
UPDATE mdl_course SET category = (SELECT id FROM mdl_course_categories WHERE name = 'HND') WHERE idnumber = 'SCL-BTEC-HIGHER-NATIONAL-DIPLOMA-2-YEARS';
UPDATE mdl_course SET category = (SELECT id FROM mdl_course_categories WHERE name = 'Degree') WHERE idnumber = 'SCL-EXTENDED-DIPLOMA-IN-STRATEGIC-MANAGEMENT-AND';
UPDATE mdl_course SET category = (SELECT id FROM mdl_course_categories WHERE name = 'Vocational') WHERE idnumber = 'SCL-GCSE-GCE-A-LEVEL-COURSES';
UPDATE mdl_course SET category = (SELECT id FROM mdl_course_categories WHERE name = 'HND') WHERE idnumber = 'SCL-HIGHER-NATIONAL-DIPLOMA-IN-INTERNATIONAL-TRAV';
UPDATE mdl_course SET category = (SELECT id FROM mdl_course_categories WHERE name = 'HND') WHERE idnumber = 'SCL-HNC-HND-ADMINISTRATION-AND-INFORMATION-TECHNO';
UPDATE mdl_course SET category = (SELECT id FROM mdl_course_categories WHERE name = 'HND') WHERE idnumber = 'SCL-HND-HOSPITALITY-MANAGEMENT';
UPDATE mdl_course SET category = (SELECT id FROM mdl_course_categories WHERE name = 'HND') WHERE idnumber = 'SCL-HND-IN-BUSINESS-RQF';
UPDATE mdl_course SET category = (SELECT id FROM mdl_course_categories WHERE name = 'HND') WHERE idnumber = 'SCL-HND-IN-HOSPITALITY-MANAGEMENT';
UPDATE mdl_course SET category = (SELECT id FROM mdl_course_categories WHERE name = 'HND') WHERE idnumber = 'SCL-HND-IN-LEADERSHIP-AND-MANAGEMENT-FOR-ENGLAND';
UPDATE mdl_course SET category = (SELECT id FROM mdl_course_categories WHERE name = 'Vocational') WHERE idnumber = 'SCL-NCFE-8211-QUALIFICATIONS';
UPDATE mdl_course SET category = (SELECT id FROM mdl_course_categories WHERE name = 'Vocational') WHERE idnumber = 'SCL-NCFE-LEVEL-1-AWARD-IN-TRAVEL-038-TOURISM';
UPDATE mdl_course SET category = (SELECT id FROM mdl_course_categories WHERE name = 'Vocational') WHERE idnumber = 'SCL-NCFE-LEVEL-1-CERTIFICATE-IN-HOSPITALITY-038-C';
UPDATE mdl_course SET category = (SELECT id FROM mdl_course_categories WHERE name = 'Vocational') WHERE idnumber = 'SCL-NCFE-LEVEL-1-CERTIFICATE-IN-TRAVEL-AND-TOURIS';
UPDATE mdl_course SET category = (SELECT id FROM mdl_course_categories WHERE name = 'Vocational') WHERE idnumber = 'SCL-NCFE-LEVEL-2-AWARD-FOR-RESORT-REPRESENTATIVES';
UPDATE mdl_course SET category = (SELECT id FROM mdl_course_categories WHERE name = 'Vocational') WHERE idnumber = 'SCL-NCFE-LEVEL-2-AWARD-IN-FOOD-SAFETY-IN-CATERING';
UPDATE mdl_course SET category = (SELECT id FROM mdl_course_categories WHERE name = 'Vocational') WHERE idnumber = 'SCL-NCFE-LEVEL-2-CERTIFICATE-FOR-AIRLINE-CABIN-CR';
UPDATE mdl_course SET category = (SELECT id FROM mdl_course_categories WHERE name = 'Vocational') WHERE idnumber = 'SCL-NCFE-LEVEL-2-CERTIFICATE-IN-AVIATION-OPERATIO';
UPDATE mdl_course SET category = (SELECT id FROM mdl_course_categories WHERE name = 'Vocational') WHERE idnumber = 'SCL-NCFE-LEVEL-2-CERTIFICATE-IN-HOSPITALITY-AN-2';
UPDATE mdl_course SET category = (SELECT id FROM mdl_course_categories WHERE name = 'Vocational') WHERE idnumber = 'SCL-NCFE-LEVEL-2-CERTIFICATE-IN-HOSPITALITY-AND-C';
UPDATE mdl_course SET category = (SELECT id FROM mdl_course_categories WHERE name = 'Vocational') WHERE idnumber = 'SCL-NCFE-LEVEL-2-CERTIFICATE-IN-NUTRITION-038-HEA';
UPDATE mdl_course SET category = (SELECT id FROM mdl_course_categories WHERE name = 'Degree') WHERE idnumber = 'SCL-NCFE-LEVEL-2-NVQ-DIPLOMA-IN-FRONT-OF-HOUSE-RE';
UPDATE mdl_course SET category = (SELECT id FROM mdl_course_categories WHERE name = 'Degree') WHERE idnumber = 'SCL-PEARSON-BTEC-LEVEL-7-EXTENDED-DIPLOMA-IN-STRA';
UPDATE mdl_course SET category = (SELECT id FROM mdl_course_categories WHERE name = 'HND') WHERE idnumber = 'SCL-STRUCTURE-OF-EDEXCEL-LEVEL-5-BTEC-HIGHER-NATI';
