{{>theme_learningzone/blocks}}

<!-- Banner Section Start -->
<section id="banner-wrapper">
   <div class="callbacks_container">
      <ul class="rslides" id="slider3">
         <li>
            <img src="{{{banner1image}}}" alt="First Slider">
            <div class="container-fluid">
               <div class="caption col-lg-4">
                 {{#bannerheading}}
                  <h1>{{{bannerheading}}}</h1>
                 {{/bannerheading}}
                 {{#bannertagline}}
                  <p>{{{bannertagline}}}</p>
                 {{/bannertagline}} 
                 {{#bannerbuttontext}}
                  <a class="btn btn-primary" href="{{{bannerbuttonurl}}}">{{{bannerbuttontext}}}</a>
                 {{/bannerbuttontext}} 
               </div>
            </div>
         </li>
         <li>
            <img src="{{{banner2image}}}" alt="Second Slider">
            <div class="container-fluid">
               <div class="caption col-lg-4">
                 {{#bannerheading}}
                  <h1>{{{bannerheading}}}</h1>
                 {{/bannerheading}}
                 {{#bannertagline}}
                  <p>{{{bannertagline}}}</p>
                 {{/bannertagline}} 
                 {{#bannerbuttontext}}
                  <a class="btn btn-primary" href="{{{bannerbuttonurl}}}">{{{bannerbuttontext}}}</a>
                 {{/bannerbuttontext}} 
               </div>
            </div>
         </li>
         <li>
            <img src="{{{banner3image}}}" alt="Third Slider">
            <div class="container-fluid">
               <div class="caption col-lg-4">
                 {{#bannerheading}}
                  <h1>{{{bannerheading}}}</h1>
                 {{/bannerheading}}
                 {{#bannertagline}}
                  <p>{{{bannertagline}}}</p>
                 {{/bannertagline}} 
                 {{#bannerbuttontext}}
                  <a class="btn btn-primary" href="{{{bannerbuttonurl}}}">{{{bannerbuttontext}}}</a>
                 {{/bannerbuttontext}} 
               </div>
            </div>
         </li>
      </ul>
   </div>
</section>
<!-- Banner Section End -->

