<!-- Start Block Section -->
<div class="block-section float-left">
   <input type="checkbox" id="navigation1" />
   <label for="navigation1" class="slideblocklabel"></label>
   <nav class="slideblock">
      <h2 class="settings">All Blocks Settings</h2>
      <div class="columnleft blockcolumn {{#haspreblocks}} has-blocks {{/haspreblocks}}">
         <section data-region="blocks-column" class="hidden-print" aria-label="{{#str}}blocks{{/str}}">
            {{{ sidepreblocks }}}
         </section>
      </div>
      <div class="columnright blockcolumn {{#haspostblocks}} has-blocks {{/haspostblocks}}">
         <section data-region="blocks-column" class="hidden-print" aria-label="{{#str}}blocks{{/str}}">
            {{{ sidepostblocks }}}
         </section>
      </div>
   </nav>
</div>
<!-- End Block Section -->
