<!-- Start Faculty Section -->

{{#displayfacultysection}}
	<div class="faculties">
		<div class="container-fluid">
			{{#facultyheading}}
				<h1>{{{facultyheading}}}</h1>
			{{/facultyheading}}

			{{#facultytagline}}
				<p>{{{facultytagline}}}</p>
			{{/facultytagline}}
			<div class="faculty-wrapper">
				<div class="col-lg-3">
					<div class="view view-first">
						{{#faculty1image}}
							<a href="{{{faculty1url}}}"><img src="{{{faculty1image}}}" alt="" /></a>
						{{/faculty1image}}
						{{#faculty1profile}}
							<div class="mask">
								<p class="profile">{{{faculty1profile}}}</p>
							</div>
						{{/faculty1profile}}
					</div>
					{{#faculty1name}}
						<p class="name">
							<a href="{{{faculty1url}}}">
			               		{{{faculty1name}}}
			               </a>
						</p>
					{{/faculty1name}}
				</div>
				<div class="col-lg-3">
					<div class="view view-first">
						{{#faculty2image}}
							<a href="{{{faculty2url}}}"><img src="{{{faculty2image}}}" alt="" /></a>
						{{/faculty2image}}
						{{#faculty2profile}}
							<div class="mask">
								<p class="profile">{{{faculty2profile}}}</p>
							</div>
						{{/faculty2profile}}
					</div>
					{{#faculty2name}}
						<p class="name">
							<a href="{{{faculty2url}}}">
			               		{{{faculty2name}}}
			               </a>
						</p>
					{{/faculty2name}}
				</div>
				<div class="col-lg-3">
					<div class="view view-first">
						{{#faculty3image}}
							<a href="{{{faculty3url}}}"><img src="{{{faculty3image}}}" alt="" /></a>
						{{/faculty3image}}
						{{#faculty3profile}}
							<div class="mask">
								<p class="profile">{{{faculty3profile}}}</p>
							</div>
						{{/faculty3profile}}
					</div>
					{{#faculty3name}}
						<p class="name">
							<a href="{{{faculty3url}}}">
			               		{{{faculty3name}}}
			               </a>
						</p>
					{{/faculty3name}}
				</div>
				<div class="col-lg-3">
					<div class="view view-first">
						{{#faculty4image}}
							<a href="{{{faculty4url}}}"><img src="{{{faculty4image}}}" alt="" /></a>
						{{/faculty4image}}
						{{#faculty4profile}}
							<div class="mask">
								<p class="profile">{{{faculty4profile}}}</p>
							</div>
						{{/faculty4profile}}
					</div>
					{{#faculty4name}}
						<p class="name">
							<a href="{{{faculty4url}}}">
			               		{{{faculty4name}}}
			               </a>
						</p>
					{{/faculty4name}}
				</div>
			</div>
		</div>
	</div>
{{/displayfacultysection}}

<!-- End Faculty Section -->
