{{#displaynumberssection}}
<div class="numbers">
	<div class="container-fluid">
		{{#numbers}}
			<h1>{{{numbers}}}</h1>
		{{/numbers}}
		<div class="numbers-counter">
			<div class="col-lg-3">
				{{#numbers1icon}}
					<div class="image-counter pull-left"><img src="{{{numbers1icon}}}" alt=""/></div>
				{{/numbers1icon}}
				<div class="pull-left text-con">
					{{#numbers1count}}
						<span class="counter">{{{numbers1count}}}</span>
					{{/numbers1count}}
					{{#numbers1heading}}
						<span class="count-info">{{{numbers1heading}}}</span>
					{{/numbers1heading}}
				</div>
			</div>
			<div class="col-lg-3">
				{{#numbers2icon}}
					<div class="image-counter pull-left"><img src="{{{numbers2icon}}}" alt=""/></div>
				{{/numbers2icon}}
				<div class="pull-left text-con">
					{{#numbers2count}}
						<span class="counter">{{{numbers2count}}}</span>
					{{/numbers2count}}
					{{#numbers2heading}}
						<span class="count-info">{{{numbers2heading}}}</span>
					{{/numbers2heading}}
				</div>
			</div>
			<div class="col-lg-3">
				{{#numbers3icon}}
					<div class="image-counter pull-left"><img src="{{{numbers3icon}}}" alt=""/></div>
				{{/numbers3icon}}
				<div class="pull-left text-con">
					{{#numbers3count}}
						<span class="counter">{{{numbers3count}}}</span>
					{{/numbers3count}}
					{{#numbers3heading}}
						<span class="count-info">{{{numbers3heading}}}</span>
					{{/numbers3heading}}
				</div>
			</div>
			<div class="col-lg-3">
				{{#numbers4icon}}
					<div class="image-counter pull-left"><img src="{{{numbers4icon}}}" alt=""/></div>
				{{/numbers4icon}}
				<div class="pull-left text-con">
					{{#numbers4count}}
						<span class="counter">{{{numbers4count}}}</span>
					{{/numbers4count}}
					{{#numbers4heading}}
						<span class="count-info">{{{numbers4heading}}}</span>
					{{/numbers4heading}}
				</div>
			</div>
		</div>
	</div>
</div>
{{/displaynumberssection}}