-- MySQL dump 10.13  Distrib 8.0.45, for Linux (x86_64)
--
-- Host: localhost    Database: scl_institute
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `adjustment_plan`
--

DROP TABLE IF EXISTS `adjustment_plan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `adjustment_plan` (
  `id` int NOT NULL AUTO_INCREMENT,
  `request_id` int NOT NULL,
  `adjustment_detail` longtext,
  `implementation_notes` longtext,
  `valid_from` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `valid_until` timestamp NULL DEFAULT NULL,
  `visible_to_student` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`id`),
  KEY `idx_request` (`request_id`),
  CONSTRAINT `adjustment_plan_ibfk_1` FOREIGN KEY (`request_id`) REFERENCES `disability_requests` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `adjustment_plan`
--

LOCK TABLES `adjustment_plan` WRITE;
/*!40000 ALTER TABLE `adjustment_plan` DISABLE KEYS */;
/*!40000 ALTER TABLE `adjustment_plan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admissions_decisions`
--

DROP TABLE IF EXISTS `admissions_decisions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admissions_decisions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `application_id` int NOT NULL,
  `decision` enum('accepted','conditional_accept','rejected','deferred') NOT NULL,
  `decision_date` date NOT NULL,
  `decision_made_by` int NOT NULL,
  `conditions` text,
  `conditions_deadline` date DEFAULT NULL,
  `offer_letter_sent` tinyint(1) DEFAULT '0',
  `offer_letter_sent_date` date DEFAULT NULL,
  `student_response` enum('accepted','declined','pending') DEFAULT 'pending',
  `student_response_date` date DEFAULT NULL,
  `deferred_to_intake` date DEFAULT NULL,
  `deferral_reason` text,
  `rejection_reason` text,
  `feedback_provided` text,
  `allocated_to_course` tinyint(1) DEFAULT '0',
  `moodle_enrollment_id` varchar(100) DEFAULT NULL,
  `enrollment_date` date DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `application_id` (`application_id`),
  KEY `idx_decision` (`decision`),
  KEY `idx_decision_date` (`decision_date`),
  KEY `idx_student_response` (`student_response`),
  CONSTRAINT `admissions_decisions_ibfk_1` FOREIGN KEY (`application_id`) REFERENCES `student_applications` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admissions_decisions`
--

LOCK TABLES `admissions_decisions` WRITE;
/*!40000 ALTER TABLE `admissions_decisions` DISABLE KEYS */;
/*!40000 ALTER TABLE `admissions_decisions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `announcements`
--

DROP TABLE IF EXISTS `announcements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `announcements` (
  `id` int NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `content` text NOT NULL,
  `priority` varchar(20) DEFAULT 'medium',
  `category` varchar(50) DEFAULT NULL,
  `target_audience` varchar(50) DEFAULT 'all',
  `published_by` varchar(255) DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_priority` (`priority`),
  KEY `idx_category` (`category`),
  KEY `idx_active` (`is_active`),
  KEY `idx_created` (`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `announcements`
--

LOCK TABLES `announcements` WRITE;
/*!40000 ALTER TABLE `announcements` DISABLE KEYS */;
/*!40000 ALTER TABLE `announcements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `application_documents`
--

DROP TABLE IF EXISTS `application_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `application_documents` (
  `id` int NOT NULL AUTO_INCREMENT,
  `application_id` int NOT NULL,
  `document_type` enum('passport_id','academic_certificates','academic_transcripts','english_certificate','cv_resume','work_reference','proof_address','visa_immigration') NOT NULL,
  `original_filename` varchar(255) NOT NULL,
  `stored_filename` varchar(255) NOT NULL,
  `file_path` varchar(500) NOT NULL,
  `file_size` int DEFAULT NULL,
  `mime_type` varchar(100) DEFAULT NULL,
  `upload_date` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `uploaded_by_ip` varchar(45) DEFAULT NULL,
  `document_verified` tinyint(1) DEFAULT '0',
  `verified_by` int DEFAULT NULL,
  `verified_date` timestamp NULL DEFAULT NULL,
  `verification_notes` text,
  PRIMARY KEY (`id`),
  KEY `idx_application_docs` (`application_id`),
  KEY `idx_document_type` (`document_type`),
  CONSTRAINT `application_documents_ibfk_1` FOREIGN KEY (`application_id`) REFERENCES `student_applications` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `application_documents`
--

LOCK TABLES `application_documents` WRITE;
/*!40000 ALTER TABLE `application_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `application_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `application_reviews`
--

DROP TABLE IF EXISTS `application_reviews`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `application_reviews` (
  `id` int NOT NULL AUTO_INCREMENT,
  `application_id` int NOT NULL,
  `reviewer_id` int NOT NULL,
  `review_stage` enum('initial_screening','academic_review','interview_assessment','final_decision') NOT NULL,
  `academic_suitability` enum('suitable','needs_assessment','unsuitable') NOT NULL,
  `english_proficiency_adequate` tinyint(1) NOT NULL,
  `documentation_complete` tinyint(1) NOT NULL,
  `work_experience_relevant` tinyint(1) DEFAULT NULL,
  `recommendation` enum('accept','conditional_accept','interview_required','reject','defer') NOT NULL,
  `review_notes` text,
  `conditions_if_conditional` text,
  `interview_required` tinyint(1) DEFAULT '0',
  `interview_date` datetime DEFAULT NULL,
  `interview_location` varchar(255) DEFAULT NULL,
  `interview_notes` text,
  `reviewed_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_application_review` (`application_id`),
  KEY `idx_review_stage` (`review_stage`),
  CONSTRAINT `application_reviews_ibfk_1` FOREIGN KEY (`application_id`) REFERENCES `student_applications` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `application_reviews`
--

LOCK TABLES `application_reviews` WRITE;
/*!40000 ALTER TABLE `application_reviews` DISABLE KEYS */;
/*!40000 ALTER TABLE `application_reviews` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `application_stats`
--

DROP TABLE IF EXISTS `application_stats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `application_stats` (
  `id` int NOT NULL AUTO_INCREMENT,
  `date_recorded` date NOT NULL,
  `total_applications` int DEFAULT '0',
  `applications_submitted` int DEFAULT '0',
  `applications_under_review` int DEFAULT '0',
  `applications_accepted` int DEFAULT '0',
  `applications_rejected` int DEFAULT '0',
  `applications_deferred` int DEFAULT '0',
  `course_code` varchar(50) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_date_recorded` (`date_recorded`),
  KEY `idx_course_stats` (`course_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `application_stats`
--

LOCK TABLES `application_stats` WRITE;
/*!40000 ALTER TABLE `application_stats` DISABLE KEYS */;
/*!40000 ALTER TABLE `application_stats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `complaint_documents`
--

DROP TABLE IF EXISTS `complaint_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `complaint_documents` (
  `id` int NOT NULL AUTO_INCREMENT,
  `complaint_id` int NOT NULL,
  `document_url` varchar(500) DEFAULT NULL,
  `document_type` varchar(100) DEFAULT NULL,
  `uploaded_by` varchar(255) DEFAULT NULL,
  `uploaded_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_complaint` (`complaint_id`),
  CONSTRAINT `complaint_documents_ibfk_1` FOREIGN KEY (`complaint_id`) REFERENCES `complaints_appeals` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `complaint_documents`
--

LOCK TABLES `complaint_documents` WRITE;
/*!40000 ALTER TABLE `complaint_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `complaint_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `complaint_timeline`
--

DROP TABLE IF EXISTS `complaint_timeline`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `complaint_timeline` (
  `id` int NOT NULL AUTO_INCREMENT,
  `complaint_id` int NOT NULL,
  `stage` varchar(100) DEFAULT NULL,
  `description` longtext,
  `updated_by` varchar(255) DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `student_notification` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`id`),
  KEY `idx_complaint` (`complaint_id`),
  CONSTRAINT `complaint_timeline_ibfk_1` FOREIGN KEY (`complaint_id`) REFERENCES `complaints_appeals` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `complaint_timeline`
--

LOCK TABLES `complaint_timeline` WRITE;
/*!40000 ALTER TABLE `complaint_timeline` DISABLE KEYS */;
/*!40000 ALTER TABLE `complaint_timeline` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `complaints_appeals`
--

DROP TABLE IF EXISTS `complaints_appeals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `complaints_appeals` (
  `id` int NOT NULL AUTO_INCREMENT,
  `case_number` varchar(50) NOT NULL,
  `student_id` int NOT NULL,
  `type` varchar(50) NOT NULL,
  `category` varchar(100) DEFAULT NULL,
  `description` longtext NOT NULL,
  `status` varchar(50) DEFAULT 'submitted',
  `priority` varchar(20) DEFAULT 'medium',
  `assigned_to` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `deadline` timestamp NULL DEFAULT NULL,
  `resolved_at` timestamp NULL DEFAULT NULL,
  `decision` varchar(50) DEFAULT NULL,
  `decision_notes` longtext,
  PRIMARY KEY (`id`),
  UNIQUE KEY `case_number` (`case_number`),
  KEY `idx_student` (`student_id`),
  KEY `idx_case` (`case_number`),
  KEY `idx_status` (`status`),
  KEY `idx_created` (`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `complaints_appeals`
--

LOCK TABLES `complaints_appeals` WRITE;
/*!40000 ALTER TABLE `complaints_appeals` DISABLE KEYS */;
/*!40000 ALTER TABLE `complaints_appeals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `courses`
--

DROP TABLE IF EXISTS `courses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `courses` (
  `id` int NOT NULL AUTO_INCREMENT,
  `course_code` varchar(50) NOT NULL,
  `course_title` varchar(255) NOT NULL,
  `course_type` enum('HND','Degree','Vocational','Short Course','CPD') NOT NULL,
  `department` varchar(100) DEFAULT NULL,
  `duration_months` int DEFAULT NULL,
  `credit_points` int DEFAULT NULL,
  `description` text,
  `entry_requirements` text,
  `awarding_body` varchar(255) DEFAULT NULL,
  `full_time_available` tinyint(1) DEFAULT '1',
  `part_time_available` tinyint(1) DEFAULT '0',
  `online_available` tinyint(1) DEFAULT '0',
  `blended_available` tinyint(1) DEFAULT '0',
  `course_status` enum('active','inactive','under_review','suspended') DEFAULT 'active',
  `moodle_course_id` varchar(100) DEFAULT NULL,
  `auto_enroll_enabled` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `course_code` (`course_code`),
  KEY `idx_course_code` (`course_code`),
  KEY `idx_course_type` (`course_type`),
  KEY `idx_course_status` (`course_status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `courses`
--

LOCK TABLES `courses` WRITE;
/*!40000 ALTER TABLE `courses` DISABLE KEYS */;
/*!40000 ALTER TABLE `courses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `disability_documents`
--

DROP TABLE IF EXISTS `disability_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `disability_documents` (
  `id` int NOT NULL AUTO_INCREMENT,
  `request_id` int NOT NULL,
  `document_url` varchar(500) DEFAULT NULL,
  `document_type` varchar(100) DEFAULT NULL,
  `uploaded_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_request` (`request_id`),
  CONSTRAINT `disability_documents_ibfk_1` FOREIGN KEY (`request_id`) REFERENCES `disability_requests` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `disability_documents`
--

LOCK TABLES `disability_documents` WRITE;
/*!40000 ALTER TABLE `disability_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `disability_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `disability_requests`
--

DROP TABLE IF EXISTS `disability_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `disability_requests` (
  `id` int NOT NULL AUTO_INCREMENT,
  `student_id` int NOT NULL,
  `request_type` varchar(100) DEFAULT NULL,
  `description` longtext,
  `status` varchar(50) DEFAULT 'pending',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `approved_date` timestamp NULL DEFAULT NULL,
  `valid_until` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_student` (`student_id`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `disability_requests`
--

LOCK TABLES `disability_requests` WRITE;
/*!40000 ALTER TABLE `disability_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `disability_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `feedback_surveys`
--

DROP TABLE IF EXISTS `feedback_surveys`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `feedback_surveys` (
  `id` int NOT NULL AUTO_INCREMENT,
  `student_id` int NOT NULL,
  `course_id` int DEFAULT NULL,
  `module_code` varchar(50) DEFAULT NULL,
  `feedback_type` varchar(50) DEFAULT NULL,
  `rating` int DEFAULT NULL,
  `comments` longtext,
  `submitted_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_student` (`student_id`),
  KEY `idx_module` (`module_code`),
  KEY `idx_submitted` (`submitted_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `feedback_surveys`
--

LOCK TABLES `feedback_surveys` WRITE;
/*!40000 ALTER TABLE `feedback_surveys` DISABLE KEYS */;
/*!40000 ALTER TABLE `feedback_surveys` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `type` varchar(50) NOT NULL,
  `subject` varchar(255) NOT NULL,
  `message` text,
  `body` text,
  `notification_data` json DEFAULT NULL,
  `is_read` tinyint(1) DEFAULT '0',
  `read_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `idx_email` (`email`),
  KEY `idx_type` (`type`),
  KEY `idx_created` (`created_at`),
  KEY `idx_is_read` (`is_read`),
  CONSTRAINT `notifications_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id` int NOT NULL AUTO_INCREMENT,
  `role_name` varchar(50) NOT NULL,
  `description` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `role_name` (`role_name`),
  KEY `idx_role_name` (`role_name`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'Super Admin','Full system access to all modules','2026-02-07 11:38:15'),(2,'LMS Manager','Manages course delivery, assessments, grading','2026-02-07 11:38:15'),(3,'Admissions Officer','Manages student applications, admissions, onboarding','2026-02-07 11:38:15'),(4,'Faculty & HR Manager','Manages faculty recruitment, HR records','2026-02-07 11:38:15'),(5,'Teacher','Teaches courses and manages student learning','2026-02-07 11:38:15'),(6,'Student','Enrolled in courses','2026-02-07 11:38:15'),(7,'Manager','Manages department operations','2026-02-07 11:38:15');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `safeguarding_reports`
--

DROP TABLE IF EXISTS `safeguarding_reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `safeguarding_reports` (
  `id` int NOT NULL AUTO_INCREMENT,
  `student_id` int NOT NULL,
  `report_type` varchar(50) DEFAULT NULL,
  `description` longtext NOT NULL,
  `severity` varchar(20) DEFAULT 'medium',
  `status` varchar(50) DEFAULT 'reported',
  `confidential` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `assigned_to` varchar(255) DEFAULT NULL,
  `resolved_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_student` (`student_id`),
  KEY `idx_severity` (`severity`),
  KEY `idx_status` (`status`),
  KEY `idx_created` (`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `safeguarding_reports`
--

LOCK TABLES `safeguarding_reports` WRITE;
/*!40000 ALTER TABLE `safeguarding_reports` DISABLE KEYS */;
/*!40000 ALTER TABLE `safeguarding_reports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `safeguarding_timeline`
--

DROP TABLE IF EXISTS `safeguarding_timeline`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `safeguarding_timeline` (
  `id` int NOT NULL AUTO_INCREMENT,
  `report_id` int NOT NULL,
  `action_taken` longtext,
  `notes` longtext,
  `updated_by` varchar(255) DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `visible_to_student` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `idx_report` (`report_id`),
  CONSTRAINT `safeguarding_timeline_ibfk_1` FOREIGN KEY (`report_id`) REFERENCES `safeguarding_reports` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `safeguarding_timeline`
--

LOCK TABLES `safeguarding_timeline` WRITE;
/*!40000 ALTER TABLE `safeguarding_timeline` DISABLE KEYS */;
/*!40000 ALTER TABLE `safeguarding_timeline` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sso_tokens`
--

DROP TABLE IF EXISTS `sso_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sso_tokens` (
  `token` varchar(255) NOT NULL,
  `email` varchar(255) DEFAULT NULL,
  `firstname` varchar(255) DEFAULT NULL,
  `lastname` varchar(255) DEFAULT NULL,
  `role` varchar(50) DEFAULT NULL,
  `redirect_url` varchar(500) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`token`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sso_tokens`
--

LOCK TABLES `sso_tokens` WRITE;
/*!40000 ALTER TABLE `sso_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `sso_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_applications`
--

DROP TABLE IF EXISTS `student_applications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_applications` (
  `id` int NOT NULL AUTO_INCREMENT,
  `first_name` varchar(100) NOT NULL,
  `middle_names` varchar(100) DEFAULT NULL,
  `last_name` varchar(100) NOT NULL,
  `date_of_birth` date NOT NULL,
  `gender` enum('Male','Female','Other','Prefer not to say') NOT NULL,
  `nationality` varchar(100) NOT NULL,
  `email` varchar(255) NOT NULL,
  `contact_number` varchar(20) NOT NULL,
  `address_line1` varchar(255) NOT NULL,
  `address_line2` varchar(255) DEFAULT NULL,
  `town_city` varchar(100) NOT NULL,
  `postcode` varchar(20) NOT NULL,
  `country_of_residence` varchar(100) NOT NULL,
  `course_title` varchar(255) NOT NULL,
  `course_code` varchar(50) NOT NULL,
  `course_type` enum('HND','Degree','Vocational','Short Course','CPD') NOT NULL,
  `mode_of_study` enum('Full-time','Part-time','Online','Blended') NOT NULL,
  `intake_start_date` date NOT NULL,
  `entry_route` enum('Standard','RPL','Mature Student') NOT NULL,
  `highest_qualification` enum('GCSE','A-Level','Level 3 Diploma','HND','Degree','Other') NOT NULL,
  `institution_name` varchar(255) NOT NULL,
  `year_completed` date NOT NULL,
  `relevant_work_experience` text,
  `english_proficiency` enum('IELTS','TOEFL','Other') NOT NULL,
  `english_score` decimal(4,1) DEFAULT NULL,
  `passport_id_document` varchar(500) DEFAULT NULL,
  `academic_certificates` varchar(500) DEFAULT NULL,
  `academic_transcripts` varchar(500) DEFAULT NULL,
  `english_certificate` varchar(500) DEFAULT NULL,
  `cv_resume` varchar(500) DEFAULT NULL,
  `work_reference` varchar(500) DEFAULT NULL,
  `proof_of_address` varchar(500) DEFAULT NULL,
  `visa_immigration_document` varchar(500) DEFAULT NULL,
  `has_disabilities_support_needs` tinyint(1) DEFAULT '0',
  `disability_support_details` text,
  `consent_gdpr` tinyint(1) NOT NULL DEFAULT '0',
  `consent_data_sharing` tinyint(1) NOT NULL DEFAULT '0',
  `consent_marketing` tinyint(1) DEFAULT '0',
  `declaration_truth` tinyint(1) NOT NULL DEFAULT '0',
  `digital_signature` varchar(255) NOT NULL,
  `declaration_date` date NOT NULL,
  `application_status` enum('draft','submitted','under_review','interview_scheduled','accepted','conditional_accept','rejected','deferred') DEFAULT 'draft',
  `application_reference` varchar(20) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `submitted_at` timestamp NULL DEFAULT NULL,
  `offer_accepted` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `application_reference` (`application_reference`),
  KEY `idx_email` (`email`),
  KEY `idx_application_status` (`application_status`),
  KEY `idx_course_code` (`course_code`),
  KEY `idx_intake_date` (`intake_start_date`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_applications`
--

LOCK TABLES `student_applications` WRITE;
/*!40000 ALTER TABLE `student_applications` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_applications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_onboarding`
--

DROP TABLE IF EXISTS `student_onboarding`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_onboarding` (
  `id` int NOT NULL AUTO_INCREMENT,
  `application_id` int NOT NULL,
  `student_id` varchar(20) DEFAULT NULL,
  `student_handbook_provided` tinyint(1) DEFAULT '0',
  `course_handbook_provided` tinyint(1) DEFAULT '0',
  `policies_explained` tinyint(1) DEFAULT '0',
  `it_setup_completed` tinyint(1) DEFAULT '0',
  `email_account_created` tinyint(1) DEFAULT '0',
  `library_access_granted` tinyint(1) DEFAULT '0',
  `student_card_issued` tinyint(1) DEFAULT '0',
  `moodle_access_confirmed` tinyint(1) DEFAULT '0',
  `support_services_explained` tinyint(1) DEFAULT '0',
  `disability_support_arranged` tinyint(1) DEFAULT '0',
  `financial_support_discussed` tinyint(1) DEFAULT '0',
  `onboarding_completed` tinyint(1) DEFAULT '0',
  `onboarding_completed_date` date DEFAULT NULL,
  `onboarded_by` int DEFAULT NULL,
  `onboarding_notes` text,
  `onboarding_started_date` date DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `student_id` (`student_id`),
  KEY `application_id` (`application_id`),
  KEY `idx_student_id` (`student_id`),
  KEY `idx_onboarding_status` (`onboarding_completed`),
  CONSTRAINT `student_onboarding_ibfk_1` FOREIGN KEY (`application_id`) REFERENCES `student_applications` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_onboarding`
--

LOCK TABLES `student_onboarding` WRITE;
/*!40000 ALTER TABLE `student_onboarding` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_onboarding` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `support_requests`
--

DROP TABLE IF EXISTS `support_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `support_requests` (
  `id` int NOT NULL AUTO_INCREMENT,
  `student_id` int NOT NULL,
  `type` varchar(50) NOT NULL,
  `subject` varchar(255) NOT NULL,
  `description` longtext NOT NULL,
  `status` varchar(50) DEFAULT 'open',
  `priority` varchar(20) DEFAULT 'medium',
  `assigned_to` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `resolved_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_student` (`student_id`),
  KEY `idx_status` (`status`),
  KEY `idx_type` (`type`),
  KEY `idx_created` (`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `support_requests`
--

LOCK TABLES `support_requests` WRITE;
/*!40000 ALTER TABLE `support_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `support_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_roles`
--

DROP TABLE IF EXISTS `user_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_roles` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `role_id` int NOT NULL,
  `assigned_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `assigned_by` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_user_role` (`user_id`,`role_id`),
  KEY `assigned_by` (`assigned_by`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_role_id` (`role_id`),
  CONSTRAINT `user_roles_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `user_roles_ibfk_2` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE,
  CONSTRAINT `user_roles_ibfk_3` FOREIGN KEY (`assigned_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_roles`
--

LOCK TABLES `user_roles` WRITE;
/*!40000 ALTER TABLE `user_roles` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `email` varchar(255) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `password` varchar(255) DEFAULT NULL,
  `first_name` varchar(100) DEFAULT NULL,
  `last_name` varchar(100) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `date_of_birth` date DEFAULT NULL,
  `gender` enum('M','F','Other') DEFAULT NULL,
  `profile_photo` longblob,
  `is_active` tinyint(1) DEFAULT '1',
  `role` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_email` (`email`),
  KEY `idx_active` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-07 14:50:16
